In [13]:
import basedosdados as bd

In [ ]:
query = ''''''

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

df

1. Quantos chamados foram abertos no dia 01/04/2023?

In [14]:
query = "SELECT COUNT(id_chamado) AS total_chamados FROM `datario.adm_central_atendimento_1746.chamado` WHERE DATE(data_inicio) = DATE('2023-04-01');"

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

total_chamados = df['total_chamados'][0]

print(f"Foram abertos {total_chamados} no dia 01/04/2023")

Downloading: 100%|██████████|
Foram abertos 1903 no dia 01/04/2023

2. Qual o tipo de chamado que teve mais teve chamados abertos no dia 01/04/2023?

In [17]:
query = "SELECT tipo, COUNT(id_chamado) AS total_chamados FROM `datario.adm_central_atendimento_1746.chamado` WHERE DATE(data_inicio) = DATE('2023-04-01') GROUP BY tipo ORDER BY total_chamados DESC LIMIT 1;"

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

tipo_de_chamado = df['tipo'][0]
total_chamados = df['total_chamados'][0]

print(f"O Tipo de chamado que teve mais chamados abertos foi {tipo_de_chamado} com {total_chamados} casos no dia 01/04/2023")

Downloading: 100%|██████████|
O Tipo de chamado que teve mais chamados abertos foi Estacionamento irregular com 373 casos no dia 01/04/2023

3. Quais os nomes dos 3 bairros que mais tiveram chamados abertos nesse dia?

In [23]:
query = "SELECT Bairro.nome, COUNT(Chamado.id_chamado) AS total_chamados FROM `datario.adm_central_atendimento_1746.chamado` AS Chamado LEFT JOIN `datario.dados_mestres.bairro` AS Bairro on Bairro.id_bairro = Chamado.id_bairro WHERE DATE(data_inicio) = DATE('2023-04-01') AND Chamado.id_bairro is not Null GROUP BY Bairro.nome ORDER BY total_chamados DESC LIMIT 3;"

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

bairros = f"{df['nome'][0]}, {df['nome'][1]} e {df['nome'][2]}." 

print(f"Os Bairros com mais chamados abertos foram {bairros}")

Downloading: 100%|██████████|
Os Bairros com mais chamados abertos foram Campo Grande, Tijuca e Barra da Tijuca.

4. Qual o nome da subprefeitura com mais chamados abertos nesse dia?

In [26]:
query = "SELECT Bairro.subprefeitura, COUNT(Chamado.id_chamado) AS total_chamados FROM `datario.adm_central_atendimento_1746.chamado` AS Chamado LEFT JOIN `datario.dados_mestres.bairro` AS Bairro on Bairro.id_bairro = Chamado.id_bairro WHERE DATE(data_inicio) = DATE('2023-04-01') AND Chamado.id_bairro is not Null GROUP BY Bairro.subprefeitura ORDER BY total_chamados DESC LIMIT 1;"

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

subprefeitura = df['subprefeitura'][0]

print(f"A Subprefeitura com mais chamados abertos no dia 01/04/2023 foi a Subprefeitura {subprefeitura}")

Downloading: 100%|██████████|
A Subprefeitura com mais chamados abertos no dia 01/04/2023 foi a Subprefeitura Zona Norte

5. Existe algum chamado aberto nesse dia que não foi associado a um bairro ou subprefeitura na tabela de bairros? Se sim, por que isso acontece?

In [27]:
print("Isso Acontece pois há chamados em que não foi preenchido o campo id_bairro, logo não há como fazer ligação com a tabela de bairros.")

Isso Acontece pois há chamados em que não foi preenchido o campo id_bairro, logo não há como fazer ligação com a tabela de bairros.

6. Quantos chamados com o subtipo "Perturbação do sossego" foram abertos desde 01/01/2022 até 31/12/2023 (incluindo extremidades)?

In [31]:
query = "SELECT  COUNT(id_chamado) AS total_chamados FROM `datario.adm_central_atendimento_1746.chamado` WHERE DATE(data_inicio) BETWEEN DATE('2022-01-01') AND DATE('2023-12-31') AND LOWER(subtipo) like '%sossego%' ORDER BY total_chamados DESC;"

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

chamados = df['total_chamados'][0]

print(f'Foram abertos {chamados} chamados de Pertubação de Sossego neste período')

Downloading: 100%|██████████|
Foram abertos 61958 chamados de Pertubação de Sossego neste período

7. Selecione os chamados com esse subtipo que foram abertos durante os eventos contidos na tabela de eventos (Reveillon, Carnaval e Rock in Rio).

In [35]:
query = "WITH Eventos_Corrigidos AS (   SELECT ano,          data_inicial,          data_final,          evento   FROM `datario.turismo_fluxo_visitantes.rede_hoteleira_ocupacao_eventos`   WHERE data_inicial IS NOT NULL   UNION ALL   SELECT '13/09 a 15/09 de 2024', '2024-09-13', '2024-09-15', 'Rock in Rio'   UNION ALL   SELECT '19/09 a 22/09 de 2024', '2024-09-19', '2024-09-22', 'Rock in Rio'   UNION ALL   SELECT '29-31/12 e 01/01 (2024-2025)', '2024-12-31', '2025-01-01', 'Réveillon' ) SELECT   ch.id_chamado,   DATE(ch.data_inicio) AS data_chamado,   ev.evento,   ev.data_inicial AS evento_data_inicio,   ev.data_final AS evento_data_final FROM `datario.adm_central_atendimento_1746.chamado` ch JOIN Eventos_Corrigidos AS ev   ON (DATE(ch.data_inicio) BETWEEN ev.data_inicial AND ev.data_final) WHERE LOWER(ch.subtipo) LIKE '%sossego%'   AND ev.evento != 'nan' ORDER BY ch.id_chamado;"

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

df

Downloading: 100%|██████████|

     id_chamado data_chamado       evento evento_data_inicio evento_data_final
0      17658238   2022-09-02  Rock in Rio         2022-09-02        2022-09-04
1      17658242   2022-09-02  Rock in Rio         2022-09-02        2022-09-04
2      17658243   2022-09-02  Rock in Rio         2022-09-02        2022-09-04
3      17658249   2022-09-02  Rock in Rio         2022-09-02        2022-09-04
4      17658250   2022-09-02  Rock in Rio         2022-09-02        2022-09-04
...         ...          ...          ...                ...               ...
1643   21273558   2025-01-01    Réveillon         2024-12-31        2025-01-01
1644   21273576   2025-01-01    Réveillon         2024-12-31        2025-01-01
1645   21273580   2025-01-01    Réveillon         2024-12-31        2025-01-01
1646   21273584   2025-01-01    Réveillon         2024-12-31        2025-01-01
1647   21273597   2025-01-01    Réveillon         2024-12-31        2025-01-01

[1648 rows x 5 columns]

8. Quantos chamados desse subtipo foram abertos em cada evento?

In [38]:
query = '''WITH Eventos_Corrigidos AS (
  SELECT ano,
         data_inicial,
         data_final,
         evento
  FROM `datario.turismo_fluxo_visitantes.rede_hoteleira_ocupacao_eventos`
  WHERE data_inicial IS NOT NULL

  UNION ALL
  SELECT '13/09 a 15/09 de 2024', '2024-09-13', '2024-09-15', 'Rock in Rio'
  UNION ALL
  SELECT '19/09 a 22/09 de 2024', '2024-09-19', '2024-09-22', 'Rock in Rio'
  UNION ALL
  SELECT '29-31/12 e 01/01 (2024-2025)', '2024-12-31', '2025-01-01', 'Réveillon'
)
SELECT
  ev.evento,
  COUNT(id_chamado) AS total_chamados
FROM `datario.adm_central_atendimento_1746.chamado` ch
JOIN Eventos_Corrigidos AS ev
  ON (DATE(ch.data_inicio) BETWEEN ev.data_inicial AND ev.data_final)
WHERE LOWER(ch.subtipo) LIKE '%sossego%'
  AND ev.evento != 'nan'
GROUP BY ev.evento
ORDER BY total_chamados DESC'''

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

for i in df.index:
    print(f"Para o evento {df['evento'][i]} foram abertos {df['total_chamados'][i]} chamados")

Downloading: 100%|██████████|
Para o evento Rock in Rio foram abertos 946 chamados
Para o evento Carnaval foram abertos 391 chamados
Para o evento Réveillon foram abertos 311 chamados

9. Qual evento teve a maior média diária de chamados abertos desse subtipo?

In [40]:
query = '''WITH Eventos_Corrigidos AS (
  SELECT ano,
         data_inicial,
         data_final,
         evento
  FROM `datario.turismo_fluxo_visitantes.rede_hoteleira_ocupacao_eventos`
  WHERE data_inicial IS NOT NULL

  UNION ALL
  SELECT '13/09 a 15/09 de 2024', '2024-09-13', '2024-09-15', 'Rock in Rio'
  UNION ALL
  SELECT '19/09 a 22/09 de 2024', '2024-09-19', '2024-09-22', 'Rock in Rio'
  UNION ALL
  SELECT '29-31/12 e 01/01 (2024-2025)', '2024-12-31', '2025-01-01', 'Réveillon'
)
SELECT
  ev.evento,
  COUNT(id_chamado)/COUNT(DISTINCT(DATE(ch.data_inicio))) AS media_diaria
FROM `datario.adm_central_atendimento_1746.chamado` ch
JOIN Eventos_Corrigidos AS ev
  ON (DATE(ch.data_inicio) BETWEEN ev.data_inicial AND ev.data_final)
WHERE LOWER(ch.subtipo) LIKE '%sossego%'
  AND ev.evento != 'nan'
GROUP BY ev.evento
ORDER BY media_diaria DESC
LIMIT 1;'''

df = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

print(f"O Evento {df['evento'][0]} teve a Maior média diária, obtendo {df['media_diaria'][0]} casos por dia")

Downloading: 100%|██████████|
O Evento Rock in Rio teve a Maior média diária, obtendo 135.14285714285714 casos por dia

10. Compare as médias diárias de chamados abertos desse subtipo durante os eventos específicos (Reveillon, Carnaval e Rock in Rio) e a média diária de chamados abertos desse subtipo considerando todo o período de 01/01/2022 até 31/12/2023.

In [51]:
query = '''WITH Eventos_Corrigidos AS (
  SELECT ano,
         data_inicial,
         data_final,
         evento
  FROM `datario.turismo_fluxo_visitantes.rede_hoteleira_ocupacao_eventos`
  WHERE data_inicial IS NOT NULL

  UNION ALL
  SELECT '13/09 a 15/09 de 2024', '2024-09-13', '2024-09-15', 'Rock in Rio'
  UNION ALL
  SELECT '19/09 a 22/09 de 2024', '2024-09-19', '2024-09-22', 'Rock in Rio'
  UNION ALL
  SELECT '29-31/12 e 01/01 (2024-2025)', '2024-12-31', '2025-01-01', 'Réveillon'
)
SELECT
  ev.evento,
  COUNT(id_chamado)/COUNT(DISTINCT(DATE(ch.data_inicio))) AS media_diaria
FROM `datario.adm_central_atendimento_1746.chamado` ch
JOIN Eventos_Corrigidos AS ev
  ON (DATE(ch.data_inicio) BETWEEN ev.data_inicial AND ev.data_final)
WHERE LOWER(ch.subtipo) LIKE '%sossego%'
  AND ev.evento != 'nan'
GROUP BY ev.evento
ORDER BY media_diaria DESC
'''

df_eventos = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

query = '''SELECT
  COUNT(id_chamado)/COUNT(DISTINCT(DATE(data_inicio))) AS media_diaria
FROM `datario.adm_central_atendimento_1746.chamado`
WHERE DATE(data_inicio) BETWEEN DATE('2022-01-01') AND DATE('2023-12-31')
AND LOWER(subtipo) like '%sossego%'
ORDER BY media_diaria DESC;'''

df_periodo = bd.read_sql(query, billing_project_id="projeto-prefeitura-454216")

media_periodo = df_periodo['media_diaria'][0]
for i in df_eventos.index:
    evento = df_eventos['evento'][i]
    media_evento = df_eventos['media_diaria'][i]
    if media_evento < media_periodo:
        print(f"O Evento {evento} Teve uma média de chamados Abaixo da Média Comum com {media_evento} Casos por dia")
    elif media_evento > media_periodo:
        print(f"O Evento {evento} Teve uma média de chamados Acima da Média Comum com {media_evento} Casos por dia")
    else:
        print(f"O Evento {evento} Teve uma média de chamados Dentro da Média Comum com {media_evento} Casos por dia")

Downloading: 100%|██████████|
Downloading: 100%|██████████|
O Evento Rock in Rio Teve uma média de chamados Acima da Média Comum com 135.14285714285714 Casos por dia
O Evento Carnaval Teve uma média de chamados Abaixo da Média Comum com 43.44444444444444 Casos por dia
O Evento Réveillon Teve uma média de chamados Abaixo da Média Comum com 38.875 Casos por dia